{% extends 'core/base.html' %}
{% block content%}

<!-- HERO CONTENT START-->
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-sm-12 px-0">
            <img src="https://picsum.photos/id/53/1200/450" alt="" class="w-100">
        </div>
    </div>
    <div class="row">
        <!--sm ekranlardan sonra sagdan uc bosluk bırakır -->
        <div class="col-md-8 offset-sm-2">
            <div class="p-5 text-center bg-body-tertiary rounded-3">
                <h1 class="text-body-emphasis display-1">About Us!</h1>
                <p class="lead ">
                    A great user experience is the key to success.Our Django developers prioritize security, implementing robust measures to safeguard against potential vulnerabilities and cyber threats.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Hero  CONTENT END-->
    <div class="row">
        <!--            sağ ve soldan 2lk grıdler bos kalır offset ıkı olmasıda sagdan ıkı bosluk yana kaydırması demektır-->
        <div class="col-sm-8 offset-2">
            <h2>Our Vision</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi debitis ex incidunt iure libero,
                mollitia porro veniam vitae. Accusamus adipisci aperiam cumque deserunt dolores, ipsa minus nulla
                praesentium quidem, quisquam quos sapiente similique temporibus tenetur ullam vero, vitae!
                Blanditiis dolore dolores dolorum explicabo fugit odio velit? Accusamus nam nihil rerum.</p>
            <p>Excepturi in nam non quisquam voluptatem? Asperiores dolores fugit labore! Adipisci asperiores
                assumenda, delectus dolore doloremque dolores ea earum enim error ex hic id illum maiores
                necessitatibus nihil nostrum officiis perferendis, possimus quidem quod, reiciendis rerum suscipit
                tempore totam veniam voluptas voluptatibus. Ab dignissimos eos esse omnis possimus quidem
                reprehenderit!</p>
            <p>Blanditiis consectetur et explicabo necessitatibus nesciunt quod, rerum. Beatae ipsam, iste itaque
                minima nemo, odio optio quidem quis quo vel velit, vitae? Ab accusamus, ad aspernatur blanditiis
                commodi consequuntur dolorem earum ex hic labore libero nam natus nesciunt perspiciatis possimus
                praesentium quis, quisquam ratione reprehenderit sint, temporibus veritatis vitae voluptatum.</p>

            <hr>
            <h2>Our Mision</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aperiam architecto commodi
                cupiditate dolore dolorum enim exercitationem fugiat impedit in ipsam iste labore laudantium modi,
                nesciunt optio, possimus quasi similique suscipit, tempora velit veritatis voluptatem? A, aspernatur
                cumque delectus eius exercitationem, ipsam iusto labore laudantium molestias nemo porro
                quisquam.</p>
            <p>Ab ad animi aperiam, aspernatur aut, beatae corporis earum et expedita incidunt ipsum magni, nobis
                officiis perspiciatis quidem quo sint totam voluptate. Accusamus beatae deleniti fugit, ipsa
                possimus recusandae sapiente. Beatae deserunt placeat quod recusandae repellendus? Deserunt ea
                laboriosam natus, nihil nobis, perspiciatis porro praesentium provident quia quo tenetur,
                voluptas?</p>
            <p>Aperiam assumenda atque corporis dicta, exercitationem ipsum laudantium maxime minus perferendis quia
                quo repellendus reprehenderit! Ab aut corporis culpa debitis deserunt dignissimos distinctio dolorum
                ducimus ea eligendi enim, ex expedita illo inventore iste iure minima minus modi nam neque odio
                perferendis praesentium rerum, similique tempora totam vel voluptas! Dolorum, facere!</p>
        </div>
    </div>
{% endblock %}




