<!--kinda imported base html-->
{% extends 'core/base.html' %}
{% block content %}

    <!-- HERO CONTENT START-->
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-sm-12 px-0">
                <img src="https://picsum.photos/id/83/1200/450" alt="" class="w-100">
            </div>
        </div>
        <div class="row">
            <!--sm ekranlardan sonra sagdan uc bosluk bırakır -->
            <div class="col-md-8 offset-sm-2">
                <div class="p-5 text-center bg-body-tertiary rounded-3">
                    <h1 class="text-body-emphasis display-1">Contact Us!</h1>
                    <p class="lead ">
                        A great user experience is the key to success.Our Django developers prioritize security,
                        implementing robust measures to safeguard against potential vulnerabilities and cyber threats.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero  CONTENT END-->
    <div class="container ">
        <div class="row">
            <!--            sağ ve soldan 2lk grıdler bos kalır offset ıkı olmasıda sagdan ıkı bosluk yana kaydırması demektır-->
            <div class="col-sm-8 offset-2 mb-5">
                <h2>Adress</h2>
                <adress>
                    <p>Zeysthingz Company 1234 Main St Springfield, MA 12345 Turkey</p>
                </adress>
                <hr>
                <!--                burda form ekleyeceğim-->
                <h2 class="mt-5">Have a question? Send us a message!</h2>
                <form class="row g-3">
                    <div class="col-12">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-12">
                        <label for="explanation">Explanation</label>
                        <textarea class="form-control" placeholder="Leave a comment here" id="explanation"
                                  style="height: 100px"></textarea>
                    </div>
                    <div class="col-12">
                        <label for="inputCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-12">
                        <label for="inputState" class="form-label">How did you reach us ?</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>Twitter</option>
                            <option>Linkedin</option>
                            <option>Instagram</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}



